@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --cor-primario: #FFFFFF;
    --cor-secundario: #C0C0C0;
    --cor-terciario: #167BF7;
    --cor-fundo: #00030C;
    --font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-primario);
    font-family: var(--font-family);
    font-size: 1em;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.apresentacao {
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.apresentacao__conteudo__botoes {
    background-color: var(--cor-terciario);
    border-radius: 5px;
    padding: 1em;
    color: var(--cor-primario);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.apresentacao__conteudo__botoes__2 {
    background-color: transparent;
    border: 1px solid var(--cor-primario);
}

.apresentacao__conteudo__paragrafo {
    font-size: 0.75em;
    font-weight: 400;
    color: var(--cor-secundario);
}

.apresentacao__conteudo__titulo {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 22px;
}

.apresentacao__conteudo__imagem {
    margin: 1em 0 2em 0;
}

.apresentacao__conteudo {
    margin: 0 6em;
}

.apresentacao__imagem__secundario {
    width: 40%;
}

.apresentacao__secundaria {
    align-items: center;
    display: flex;
    margin: 0 10em;
}

.apresentacao__conteudo__secundario {
    margin-left: 8em;
}

.apresentacao__titulo__secundario {
    margin-bottom: 0.2em;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 2.5em;
}

.apresentacao__paragrafo__secundario {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1em;
    opacity: 80%;
}

.apresentacao__imagem__terciario {
    width: 40%;
}

.apresentacao__terciaria {
    align-items: center;
    display: flex;
    margin: 10em 10em;
}

.apresentacao__conteudo__terciario {
    margin-right: 8em;
}

.apresentacao__paragrafo__terciario {
    margin-bottom: 2em;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1em;
    opacity: 80%;
}

.apresentacao__botao__terciario {
    font-family: var(--font-family);
    color: var(--cor-primario);
    background-color: var(--cor-terciario);
    border-radius: 0.5em;
    padding: 1em;
    font-weight: 400;
    font-size: 1em;
    text-decoration: none;
}

.apresentacao__quartenaria {
    align-items: center;
    display: flex;
    margin: 0 10em;
}

.apresentacao__conteudo__quartenario {
    margin-left: 2em;
}

.apresentacao__titulo__quartenario {
    margin-bottom: 0.2em;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 2.5em;
}

.apresentacao__paragrafo__quartenario {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1em;
    opacity: 80%;
}

.rodape {
    text-align: center;
}

.rodape__conteudo {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 0.75em;
    opacity: 80%;
}

.lista__dispositivos {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.dispositivos {
    text-align: center;
}

.títilo__icones {
    font-family: var(--font-family);
}